*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, blue, orange);
    background-repeat: no-repeat;
    height: 100vh;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    padding: 0;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100vh;
}

header{
    text-align: center;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    
    background-color: #fff;
    margin: 0 1.5rem;
}

a:hover{
    background-color: lightblue;
}

nav{
    text-align: center;
}

.teammembers{

    padding: 1.5rem;
    height: 20vh;
    width: 100%;
    background-color: black;
    color: white;
}

.teammembers h4{
    text-align: center;
}

ul li{
    text-decoration: none;
}

.members{
    border-radius: 0%;
    border: none;
    text-align: center;
}

.cardcollection{
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 10px;
}

.description h5{
    margin-left: 50px;
    font-weight: bold;
}